@import 'variables.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

/* ==========================
   HIDE SCROLLBAR
========================== */

.hide-scrollbar {
    -ms-overflow-style: none;

    scrollbar-width: none;
}

.hide-scrollbar::-webkit-scrollbar {
    display: none;
}
